nav {
    background-color: rgba(51, 51, 51, 0.647);
    width: 100%;
  margin: auto;
  text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #444;
  }
  body {
    /*background: linear-gradient(to right, #01acc6, #007582);*/
    background-image: url(../Images/NEWBG.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .testimonial {
    color: white;
    width: 700px;
    margin: 20px;
    text-align: center;
  }
  
  .testimonial img {
    width: 500px;
    border-radius: 10%;
    position: relative;
    left: 0%;
  }
  p{
    font-family: 'Daddy Rewind';
    src: url('../Daddy\ Rewind.ttf');
    font-size: x-large;

  }
  